#J'exclue tout
/*
#Sauf les dossiers :
!/Reunions
!/Journal_de_bord
!/Rapport
!/README.md
!/RL_Python
#Intégrer le dossier Scripts et prefabs de PAO Unity
!/PAO_Unity
/PAO_Unity/*
!/PAO_Unity/Assets
/PAO_Unity/Assets/*
!/PAO_Unity/Assets/Scripts/*
!/PAO_Unity/Assets/Scenes/*

